.planos{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;

    background-color: #FCF7F7;
}





@media screen and (min-width:1024px){
    .planos{
        flex-direction: row;
        justify-content: space-around;
        
    }
}