.cabecalho{
    align-items: center;
    background-color: #585858;
    

   
}


@media screen and (min-width:0){
    .cabecalho{
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0.3rem;
    }
}
@media screen and (min-width: 768px) {
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    
}

@media screen and (min-width: 1024px){
    .cabecalho{
        justify-content: space-between;
        padding: 0.1rem 2rem;
    }
}







