.institucional__contato-email{
    text-decoration: underline;
    color: #Fff;
    line-height: normal;
}

.institucional__contato-telefone{
    color: #ffffff8a;
    
}

.institucional{
    background-color: #ffffff5d;
}