.perguntas__titulo{
    border-bottom: 1px solid white;
    color: #ffffff;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    
    width: 50%;
    
}


@media screen and (min-width:0){
    .perguntas__titulo{
        font-size: 1rem;
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .perguntas__titulo{
        width: 60%;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px){
    .perguntas__titulo{
        width: 30%;
        font-size: 1.5rem;
        
        
    }
}

