.sobre__titulo{
    border-bottom: 1px solid white;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    
    width: 50%;
    
}