.sobre__descricao{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 23px;
    max-width: 273px;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 3rem;
    
}